html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    animation: spectrum 90s infinite;
    font-family: Roboto, Arial, sans-serif;
}

h1, h2 {
    font-weight: normal;
}

@keyframes spectrum { 
    0%  { background-color: Black; }
    16% { background-color: #360529; }
    32% { background-color: #050D36; }
    48% { background-color: #0C2101; }
    64% { background-color: #031F26; }
    100% { background-color: black; }
}