/* ------------------------------------
            Instructions
------------------------------------ */

.instructions {
    color: white;
    float: left;
    width: 20%;
    height: 100%;
    background: black;
}

.instructions h1 {
    padding: 0.25em 0;
    margin: 0;
    width: 100%;
    background: $player-color;
    color: black;
    text-align: center;
}

.instructions p,
.instructions h2,
.instructions .btn {
    margin: 20px;
}

/* ------------------------------------
            Start Button
------------------------------------ */

.btn {
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    opacity: 1;
    transition: background-color 0.5s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: MediumSeaGreen;
}

.btn-start {
    color: white;
    background: SeaGreen;
}

.btn.disabled {
    background-color: SeaGreen;
    opacity: 0.3;
}

.btn.disabled:hover {
    cursor: default;
}